<app-product-details></app-product-details>
<!--<body>
    <h1>Welcome to Angular</h1>
    
    <a [routerLink]="'shop'">Shop</a>&nbsp;
    <a [routerLink]="'product'">View Product</a>&nbsp;
    <a [routerLink]="'student'">Student Details</a>&nbsp;
    <a [routerLink]="'account'">Account</a>&nbsp;
    <app-accholder></app-accholder> 
    <app-root></app-root> 
    <div>
      <router-outlet></router-outlet>
    </div>
    </body>
    
    {{678|currency:'USD'}}<br>
    {{title|uppercase}}<br>
  
    {{[1,2,3,4,5,6,7,8,9]|slice:4}}<br>
    {{[2,2,5,1,4,8,9,3]|slice:2:5}}<br>
    {{[1,2,3,4,5,6,7,8,9]|slice:2:-1}}<br>
    {{[1,2,3,4,5,6,7,8,9]|slice:2:-2}}<br>-->
