<p>product works!</p>

<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Cost</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track product){
            <tr>
                @if (product.cost>1000){
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.cost}}</td>
                <td>{{product.category}}</td>
                }
            </tr>
        }
    </tbody>
</table>